<div class="card border-success mb-3" style="max-width: 20rem;">
    <div class="card-header">{{curso.nome}}</div>
    <div class="card-body">
        <p class="card-title">Sigla: {{curso.sigla}}</p>
        <p class="card-text">Descrição: {{curso.descricao}}</p>
        <p class="card-text">Área: {{curso.Area.nome}}</p>
    </div>
</div>